/* ***** commons ***** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fine commons */

/* header */
/* fine header */

/* main */
/* fine main */

/* footer */
/* fine footer */

/* debug */
/* fine debug */